body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/*.container {
    width: 1440px;
height: 3300px;
background: #FFF;
}*/

 /*HEADER*/

 .header {
    border-bottom: 1px solid #e7e9fc;

}
.container-header {
    display: flex;
   
  }
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .navigation-container {
    display: flex;
    gap: 40px;
    align-items: center;
  }
 
.logo-one {
    color: #4D5AE5;
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-two {
    color:  #2E2F42;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-three {
    color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-four { 
color:#F4F4FD;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.navigation-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    padding: 0 15px;
}
.menu {
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.menu:hover,
.menu:focus {
    color: #404BBF;
}
.contacts {
    font-style: normal;
    justify-content: flex-end;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  .contacts-link {
    text-decoration: none;
    display: block;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;

  }
.contacts-link:hover,
.contacts-link:focus  {
color:#404BBF;
}
.section-three {
    background-color:#F4F4FD;
}
/*SECTION 1*/

.section-one {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
    width: 1440px;
height: 600px;
} 
.container .container-section-one {
    display: inline-flex;
    flex-wrap: wrap;
}
.section-main-text {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07px;
    letter-spacing: 0.02em;    
}
.button {
    display: inline-flex;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
background-color: #404BBF;
}

/*SECTION 2*/

.section-two {
    width: 1440px;
    height: 240px;
    flex-shrink: 0;
    background: #FFF;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}
.benefits {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
    .benefits .item {
        width: calc((100% - 32px) / 3);
      }
  
.list-header {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.list-text {
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*SECTION 3*/


 .section-three {
    background: var(--CLOUD, #F4F4FD);
    width: 1128px;
height: 1000px;
flex-shrink: 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}
    .benefits-three {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
   
    .benefits-three .team-item {
        width: calc((100% - 32px) / 3);
    }

 .team-title {   
color:#2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team-item {
background-color:#FFFFFF ;
}
.team-title-header
{
    color:#2E2F42;
    text-align: none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-title-text {
    color:#434455;
    text-align: none;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*SECTION 4*/


.portfolio {
    width: 1128px;
    height: 1000px;
    flex-shrink: 0;
    background: #FFF;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;   
}
.benefits-four {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.benefits-four .portfolio-item {
    width: calc((100% - 32px) / 3);
}
.portfolio-title {
color:#2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.portfolio-list-header {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer {
background-color:#2E2F42;
width: 1440px;
height: 312px;
flex-shrink: 0;
}
.footer-text {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}